/* Color Palette */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-text-primary: #1b0760;
  --color-text-secondary: #fff;
  --color-text-body: #918ca4;
}

/* Initial Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
}

/* Blocks */
.block {
  padding: 5rem 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-text-secondary);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-text-secondary);
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* Buttons */
.btn {
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 2rem 4rem;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  transition: all 0.15s;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-text-secondary);
}

.btn--accent:hover {
  background-color: #dd5634;
}

.btn--outlined {
  background-color: var(--color-text-secondary);
  border: 2px solid var(--color-text-primary);
  color: var(--color-text-primary);
}

.btn--outlined:hover {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}

/* Links */
.link {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.link--accent {
  color: var(--color-accent);
}

.link--arrow::after {
  content: "-->";
  display: inline-block;
  transition: transform 0.2s;
}

.link--arrow:hover::after {
  transform: translateX(10px);
}

/* Testing */
.test-boder {
  border: 1px solid rgb(255, 0, 0);
}

.test-width {
  width: 300px;
}

.test-height {
  height: 500px;
}
