/* Color Palette */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-text-primary: #1b0760;
  --color-text-secondary: #fff;
  --color-text-body: #918ca4;
  --boder-radius: 40px;
}

/* Initial Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-text-body);
}

h1,
h2,
h3 {
  color: var(--color-text-primary);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Blocks */
.block {
  --vertical-padding: 5rem;
  padding: var(--vertical-padding) 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  padding-bottom: calc(var(--vertical-padding) + 4rem);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  padding-bottom: calc(var(--vertical-padding) + 4rem);
}

.block__header {
  text-align: center;
  margin-bottom: 2em;
}

.block__header h2 {
  margin-top: 3.5rem;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-text-secondary);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-text-secondary);
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* Buttons */
.btn {
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 2rem 4rem;
  border-radius: var(--boder-radius);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  transition: all 0.15s;
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-text-secondary);
}

.btn--secondary:hover {
  background: #05cdf0;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-text-secondary);
}

.btn--accent:hover {
  background-color: #dd5634;
}

.btn--outlined {
  background-color: var(--color-text-secondary);
  border: 2px solid var(--color-text-primary);
  color: var(--color-text-primary);
}

.btn--outlined:hover {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

/* Links */
.link {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.link--accent {
  color: var(--color-accent);
}

.link--arrow::after {
  content: "-->";
  display: inline-block;
  transition: transform 0.2s;
}

.link--arrow:hover::after {
  transform: translateX(10px);
}

/* Bagdes */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.4rem 1.2rem;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 1024px) {
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Icons */
.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f3f9fa;
}

.icon-container--accent {
  background: var(--color-accent);
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: var(--color-text-secondary);
}

/* Collapsible */
.collapsible__icon {
  transform: rotate(-90deg);
  cursor: pointer;
  transition: transform 0.3s;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin: 0;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

.collapsible__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100%;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Input Groups */
::placeholder {
  color: #cdcbd7;
}

.input-group {
  display: flex;
  background: var(--color-text-secondary);
  border-radius: var(--boder-radius);
  box-shadow: 0 0 30px 20px #e6ebee;
}

.input-group__text {
  width: 0;
  flex-grow: 1;
  border: 0;
  outline: 0;
  border-radius: var(--boder-radius);
  padding: 0 2rem;
  color: var(--color-text-primary);
  font-size: 2rem;
}

.input-group__btn {
  padding: 2rem 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group__btn .icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .input-group__text {
    font-size: 1.5rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding: 0 3rem;
  color: var(--color-text-primary);
}

/* Medias */
.media {
  display: flex;
}

.media__body {
  margin-left: 2rem;
}

.media__title {
  margin: 0 0 1rem 0;
  opacity: 0.85;
  font-size: 2.6rem;
}

.media__image {
  margin-top: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .media__title {
    font-size: 2.4rem;
  }
}

/* Quote */
.quote {
  color: #5c5577;
}

.quote__text {
  font-size: 3rem;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  line-height: 1;
}

.quote_organization {
  opacity: 0.4;
  font-size: 1.6rem;
}

.quote .media__image {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .quote {
    margin: 5rem 0 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .quote__author {
    font-size: 2.8rem;
    margin-top: 5px;
  }

  .quote_organization {
    font-size: 1.8rem;
  }
}

/* Features */
.block-feature {
  margin-top: 3rem;
}

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0 0.8rem;
}

.feature__description {
  margin-bottom: 2.2rem;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

@media screen and (min-width: 768px) {
  .feature__heading {
    font-size: 2.4rem;
  }
}

/* Plans */
.plan {
  transition: transform 0.25s;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  position: absolute;
  display: inline-block;
  width: 40px;
  top: -5px;
  right: 1rem;
}

.plan__name {
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list {
  margin: 2rem 0;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan .btn {
  margin: 1rem 0;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

.card--primary .badge--primary {
  background-color: #126de4;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Plans Block */
.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 480px;
  margin: 0 auto;
}

/* Testimonial */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  margin: 0 3rem;
  position: relative;
}

.testimonial .grid {
  gap: 3rem 6rem;
}

.testimonial .quote__text {
  font-size: 2.2rem;
}

.testimonial__icon {
  position: absolute;
  top: 2rem;
  right: 0;
  transform: translateX(50%);
}

.testimonial__quote {
  padding-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  .testimonial__image {
    margin: 0;
  }
}

/* Showcase Block */
.block-showcase {
  padding-bottom: 12rem;
}

.block-showcase .list {
  margin-top: 4rem;
}

.block-showcase .block__heading,
.block-showcase .media__title {
  color: var(--color-text-secondary);
}

.block-showcase__item {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid--1x2 {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
  }

  .block-showcase .list {
    margin-top: 1rem;
  }
}

/* Callout */
.callout {
  padding: 4rem;
  border-radius: 7px;
}

.callout--primary {
  background: var(--color-primary);
}

.callout--signup {
  transform: translateY(5rem);
}

.callout .grid {
  gap: 4rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

.callout__heading,
.callout__text {
  color: var(--color-text-secondary);
}

.callout__heading {
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .callout__content {
    text-align: left;
  }

  .callout .grid--1x2 {
    gap: 3rem;
    grid-template-columns: 1fr auto;
  }
}

/* Domain Blocks */
.block-domain {
  margin-top: 3rem;
}

.block-domain .block__header {
  margin-bottom: 4rem;
}

.block-domain .input-group {
  max-width: 670px;
  margin: 0 auto;
}

.block-domain__prices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  color: var(--color-text-primary);
  font-size: 2rem;
  font-weight: 600;
  max-width: 700px;
  margin: 2rem auto 6rem;
}

.block-domain__prices li {
  margin: 1.8rem 0;
}

.block-domain__heading {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Footers */
.footer {
  background: #232323;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.footer .grid {
  gap: 1rem;
}

.footer .collapsible {
  border-bottom: 1px solid #393939;
  padding: 1rem 0;
}

.footer__section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer .collapsible__heading {
  color: var(--color-text-secondary);
}

.footer .collapsible__icon {
  fill: var(--color-text-secondary);
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer__brand {
  justify-self: center;
  margin-top: 5rem;
}

.footer__brand img {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.2rem;
  color: #fff;
  opacity: 0.3;
  text-align: center;
}

.footer__heading {
  font-size: 2.4rem;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .footer .grid {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
  }

  .footer__brand {
    order: -1;
    margin-top: 0;
    justify-self: center;
    align-self: center;
  }

  .footer .collapsible {
    border-bottom: 0;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer .collapsible__icon {
    display: none;
  }

  .footer__heading {
    font-size: 1.6rem;
  }

  .footer__section {
    font-size: 1.5rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}

/* Hero */
.hero__heading {
  color: var(--color-text-secondary);
}

.hero__text {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

@media screen and (min-width: 768px) {
  .hero .grid--1x2 {
    align-items: center;
  }

  .hero .block__header {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
  }
}

/* Navigation Bar */
.nav {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav__brand {
  transform: translate(-12px, -4px);
  width: 150px;
}

.nav__toggler {
  transform: rotate(0);
  opacity: 0.5;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__list {
  width: 100%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.nav__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #222;
}

.nav__item a {
  opacity: 0.7;
  color: #d2d0db;
  transition: all 0.3s;
}

.nav__item a:hover {
  opacity: 1;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__item a {
    opacity: 1;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    opacity: 1;
    max-height: 100%;
    display: flex;
    font-size: 1.6rem;
  }

  .nav__item {
    border: 0;
    padding: 1rem 2rem;
  }
}
