/* Color Palette */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-text-primary: #1b0760;
  --color-text-secondary: #fff;
  --color-text-body: #918ca4;
  --boder-radius: 40px;
}

/* Initial Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-text-body);
}

h1,
h2,
h3 {
  color: var(--color-text-primary);
  margin: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Blocks */
.block {
  padding: 6rem 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.block__header {
  text-align: center;
  margin-bottom: 4em;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: var(--color-text-secondary);
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: var(--color-text-secondary);
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card__header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* Buttons */
.btn {
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 2rem 4rem;
  border-radius: var(--boder-radius);
  font-weight: 600;
  cursor: pointer;
  font-size: 1.8rem;
  text-align: center;
  transition: all 0.15s;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-text-secondary);
}

.btn--accent:hover {
  background-color: #dd5634;
}

.btn--outlined {
  background-color: var(--color-text-secondary);
  border: 2px solid var(--color-text-primary);
  color: var(--color-text-primary);
}

.btn--outlined:hover {
  background-color: var(--color-text-primary);
  color: var(--color-text-secondary);
}

/* Links */
.link {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.link--accent {
  color: var(--color-accent);
}

.link--arrow::after {
  content: "-->";
  display: inline-block;
  transition: transform 0.2s;
}

.link--arrow:hover::after {
  transform: translateX(10px);
}

/* Bagdes */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.4rem 1.2rem;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
}

/* Icons */
.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #f3f9fa;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--arrow {
  fill: var(--color-text-secondary);
}

/* Collapsible */
.collapsible__icon {
  transform: rotate(-90deg);
  cursor: pointer;
  transition: transform 0.3s;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin: 0;
}

.collapsible--expanded .collapsible__icon {
  transform: rotate(0);
}

.collapsible__content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100%;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 50% 50%;
  }
}

/* Input Groups */
::placeholder {
  color: #cdcbd7;
}

.input-group {
  display: flex;
  background: var(--color-text-secondary);
  border-radius: var(--boder-radius);
  box-shadow: 0 0 30px 20px #e6ebee;
}

.input-group__text {
  width: 0;
  flex-grow: 1;
  border: 0;
  outline: 0;
  border-radius: var(--boder-radius);
  padding: 0 1.2rem;
  color: var(--color-text-primary);
  font-size: 2rem;
}

.input-group__btn {
  padding: 2rem 3%;
}

/* Lists */
.list {
  list-style: none;
  padding: 0;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding: 0 3rem;
}

/* Medias */
.media {
  display: flex;
}

.media__body {
  padding-left: 1rem;
}

.media__title {
  margin: 0;
}

/* Quote */
.quote {
  color: #5c5577;
}

.quote__text {
  font-size: 3rem;
  font-style: italic;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

/* Features */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__description {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Testing */
.test-boder {
  border: 1px solid rgb(255, 0, 0);
}

.test-width {
  width: 300px;
}

.test-height {
  height: 500px;
}
