/* Color Palette */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading-primary: #1b0760;
  --color-heading-secondary: #fff;
  --color-text-body: #918ca4;
}

/* Initial Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

/* Blocks */
.block {
  padding: 5rem 2rem;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

/* Testing */
.test-boder {
  border: 1px solid rgb(255, 0, 0);
}

.test-half-height {
  height: 50vh;
}
