<footer class="block footer">
  <div class="grid container">
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">PRODUCTS</h3>
        <svg class="icon icon--arrow collapsible__icon">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content footer__section">
        <li><a href="#">Website Hosting</a></li>
        <li><a href="#">Free Automated Wordpress</a></li>
        <li><a href="#">Migrations</a></li>
      </ul>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">COMPANY</h3>
        <svg class="icon icon--arrow collapsible__icon">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content footer__section">
        <li><a href="#">About</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">SUPPORT</h3>
        <svg class="icon icon--arrow collapsible__icon">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content footer__section">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Knowledge Base</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">DOMAINS</h3>
        <svg class="icon icon--arrow collapsible__icon">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__content footer__section">
        <li><a href="#">Domain Checker</a></li>
        <li><a href="#">Domain Transfer</a></li>
        <li><a href="#">Free Domain</a></li>
      </ul>
    </div>
    <div class="footer__brand">
      <img src="images/logo.svg" alt="Logo" />
      <p class="footer__copyright">Copyright 2022 codewithmosh.com</p>
    </div>
  </div>
</footer>
